section.autodidata img{
    width: 100%;
    max-width: 280px;
    border-radius: 3rem;
}
div.conteudo{
    margin-top: 1.6rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
section.autodidata p{
    text-align: justify;
}