header{
    background: linear-gradient(54deg,#001542 0%, #000b22 100%);
    color: #FFFFFF;  
}
header div{
    width: 100%;
    min-height: 90dvh;
    max-width: 1480px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cerebro-cima{
    position: absolute;
    top: 6rem;
    right: 1rem;
}
.cerebro-baixo{
    position: absolute;
    bottom: 6rem;
    left: 1rem;
}
img.header{
    width: 70%;
    max-width: 450px;
    margin: 2rem auto 0 auto;
}