/* https://color.adobe.com/pt/explore */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO&display=swap');

/* ===================== Configurações Gerais ===================== */
*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-size: clamp(2rem, 6vw, 2.8rem);
}
section img{
    width: 40px;
}
section{
    width: 96%;
    margin: auto;
    padding: 4rem 0;
}
section p {
    font-size: clamp(1rem, 3vw, 1.1rem);
}
hr {
    width: 94%;
    margin: auto;
}
/* ===================== Fim das Configurações Gerais ===================== */





/* ===================== Estilização do Header ===================== */
header{
    background-color: #001542;
    color: #FFFFFF;
    height: 68dvh;
    padding: 4rem 0 4rem 0;
}
header div{
    width: 100%;
    height: 100%;
    max-width: 1480px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
h1{
    font-family: "Playwrite NO";
    font-size: clamp(1.8rem, 8vw, 3.6rem);
}
header p{
    font-size: clamp(1rem, 4vw, 1.6rem);
}
.cerebro-cima{
    position: absolute;
    top: 6rem;
    right: 1rem;
}
.cerebro-baixo{
    position: absolute;
    bottom: 6rem;
    left: 1rem;
}
img.header{
    width: 80%;
    max-width: 480px;
    margin: 2rem auto 0 auto;
}
/* ===================== Fim da Estilização do Header ===================== */




/* ===================== Seção Perfil ===================== */
section.perfil{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
section.perfil img{
    width: 90%;
    max-width: 200px;
    border-radius: 50%;
    border: 6px solid #FFB30D;
    outline: 6px solid #001542;
}
section.perfil p{
    margin-top: 0.4rem;
}
/* ===================== Fim da Seção Perfil ===================== */





/* ===================== Seção Habilidades ===================== */
section.habilidades img{
    width: 100%;
    max-width: 240px;
}
div.conteudo{
    margin-top: 1.6rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
div.texto{
    max-width: 300px;
}
section.habilidades p{
    text-align: left;
}
/* ===================== Fim da Seção Habilidades ===================== */





/* ===================== Seção Autodidata ===================== */
section.autodidata img{
    width: 100%;
    max-width: 280px;
    border-radius: 3rem;
}
div.conteudo{
    margin-top: 1.6rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
div.texto{
    max-width: 300px;
}
section.autodidata p{
    text-align: left;
}
/* ===================== Fim da Seção Autodidata ===================== */





/* ===================== Seção Contato ===================== */
section.contatos p{
    margin: 1rem 0;
}
section.contatos div.icones{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
div.icones i {
    color: #001542;
}
/* ===================== Fim da Seção COntato ===================== */





/* ===================== Estilização do Footer ===================== */
footer {
    background-color: #001542;
    color: #fff;
    padding: 1rem 0;
}
/* =====================  Fim da Estilização do Footer ===================== */

@media screen and (max-width: 780px) {
    .cerebro-cima{
        display: none;
    }
    .cerebro-baixo{
        display: none;
    }
    div.conteudo{
        flex-direction: column;
    }
    div.conteudo div.texto{
        max-width: 100%;
    }
    div.texto p{
        text-align: center;
    }
}